*{
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 92vw;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    padding: 1vh 1vw;
    background-color: darkolivegreen;
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
}

/* container for display of nav and main */
.container{
    display: flex;
    flex-direction: row;
    background-color: lightsteelblue;
}

nav{
    width: 30%
}

nav ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0;
    text-align: center;
    background-color: lightsteelblue;
}

nav li{
    width: 85%;
    padding: 1vh 0;
    margin: 2vh auto;
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
    font-size: calc(2px + 1.75vw);
    background-color: lightgray;
}

nav a{
    text-decoration: none;
}

main{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 0 0 2vh;
    background-color: peachpuff;
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
}

#index-main{
    display: flex;
    flex-direction: row;
    padding: 1vh 1vw;
}

#index-profile{
    width: 40%;
    margin: 1vh 1.5vw;
}

#image-profile{
    max-width: 100%;
}

#index-passage{
    align-self: center;
    width: 60%;
    margin: 0 2vw;
    text-align: center;
    font-size: calc(1px + 1.5vw);
}

#research-title{
    text-align: center;
    margin: 2vh 2vw 1vh;
    font-size: calc(1px + 2.5vw);
}

#research-passage-1{
    margin: 1vh 2vw;
    text-align: center;
    font-size: calc(1px + 1.5vw);
}

#research-main{
    display: flex;
    flex-direction: row;
    padding: 1vh 1vw;
}

#research-data{
    width: 60%;
    margin: 0 1.5vw;
}

#image-data{
    max-width: 100%;
}

#research-passage-2{
    align-self: center;
    width: 40%;
    margin: 0 2vw;
    text-align: center;
    font-size: calc(1px + 1.5vw);
}

/* Appearance of text */

.title{
    text-align: center;
    margin: 2vh 0;
    font-size: calc(1px + 3vw);
}

main h4{
    margin: 2vh 2vw 0.5vh;
    font-size: calc(1px + 2.5vw);
}

main h5{
    margin: 1vh 2vw;
    font-size: calc(1px + 2vw);
}

.details, .short-list, .long-list{
    margin: 0 2vw;
    font-size: calc(1px + 1.5vw);
}

#inputs{
    display: flex;
    flex-direction: column;
    align-self: center;
    text-align: center;
    background-color: powderblue;
}

#first-label, #second-label{
    margin: 1vh 0 0;
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
    font-size: calc(2px + 1.25vw);
}

#first-number, #second-number{
    width: 80%;
    padding: 1vh 0;
    margin: 2vh auto;
    text-align: center;
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
    font-size: calc(2px + 1.75vw);
    background-color: white;
}

#buttons{
    display: flex;
    flex-direction: row;
    align-self: center;
}

button{
    text-align: center;
    background-color: lightgreen;
    padding: 1vh 1vw;
    margin: 2.5vh 1vw 2vh;
}

#output{
    width: 50%;
    padding: 3.5vh 0;
    margin: 1vh auto 2.5vh;
    text-align: center;
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
    font-size: calc(2px + 1.75vw);
    background-color: white;
}

footer{
    padding: 0.7vh 0.7vw;
    background-color: darkolivegreen;
    font-family: Arial, Helvetica, "Helvetica Neue", sans-serif;
    font-size: calc(1px + 1.5vw);
}

#credit{
    margin: 0 2vw;
    text-align: center;
    font-size: calc(1px + 1.5vw);
}

@media screen and (max-width: 750px) {
    header{
        text-align: center;
    }

    .container{
        display: flex;
        flex-direction: column;
    }

    nav{
        width: 100%;
    }

    nav ul{
        display: flex;
        flex-direction: row;
        text-align: center;
    }

    nav li{
        width: 10%;
        padding: 0.5vh 1vw;
        margin: 1vh auto;
        font-size: calc(1px + 1vw);
    }

    main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .title{
        margin: 2vh 0 1vh;
    }

    main h4{
        margin: 1vh 2vw 0.25vh;
    }

    main h5{
        margin: 0.25vh 2vw;
    }

    .details{
        margin: 0 2vw;
    }

    .short-list, .long-list{
        margin: 0 0;
    }

    #first-label, #second-label{
        font-size: calc(2px + 2.5vw);
        margin: 0.5vh 1vw 0;
    }

    #first-number, #second-number{
        padding: 0.5vh 0;
        margin: 1.25vh auto;
    }

    button{
        padding: 0.5vh 1vw;
        margin: 2vh 1vw 1.25vh;
    }

    #output{
        width: 32%;
        padding: 2vh 0;
        margin: 1vh auto 2.5vh;
    }

    footer{
        padding: 1vh 0.7vw;
        font-size: calc(1px + 2vw);
    }
}