*{
    margin: 0;
    box-sizing: border-box;
}

header{

}

nav{

}

nav ul{

}

nav li{

}

nav a{

}

main{

}

.title{

}

main.h4{

}

main.h5{

}

.passage{

}

.details{

}

.short-list{

}

.long-list{

}

main.img {
    max-width: 50%;
}

#inputs{

}

#buttons{

}

#output{

}

footer{

}

#credit{

}

@media screen and (max-width: 1000px) {

}